<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.neer24.neer24">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDIYuFUQ8bVT3w88OG_PdJJoi5BhoLq9Wk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.FirstActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.OrdersActivity"
            android:label="@string/title_activity_orders"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.ScheduleDeliveryActivity"
            android:label="@string/title_activity_schedule_delivery"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.DisclaimerActivity"
            android:label="@string/title_activity_disclaimer"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.ShareActivity"
            android:label="@string/title_activity_share"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.TempActivity" />
        <activity
            android:name=".Activities.HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.SetOneTimeScheduleActivity"
            android:label="@string/title_activity_one_time_set_schedule"
            android:parentActivityName=".Activities.ScheduleDeliveryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.neer24.neer24.Activities.ScheduleDeliveryActivity" />
        </activity>
        <activity
            android:name=".Activities.SetRecurringScheduleActivity"
            android:label="@string/title_activity_set_recurring_schedule"
            android:parentActivityName=".Activities.ScheduleDeliveryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.neer24.neer24.Activities.ScheduleDeliveryActivity" />
        </activity>
        <activity
            android:name=".Activities.WelcomeActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.LoginActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.UserProfileActivity" />
        <activity
            android:name=".Activities.OrderDetailsActivity"
            android:label="@string/title_activity_order_details"
            android:parentActivityName=".Activities.OrdersActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.neer24.neer24.Activities.OrdersActivity" />
        </activity>
        <activity
            android:name=".Activities.CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:parentActivityName=".Activities.HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.neer24.neer24.Activities.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".Activities.UserAccountActivity"
            android:label="@string/title_activity_user_account"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.FacebookLoginSupportActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:label="Change Password"
            android:parentActivityName=".Activities.UserAccountActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.neer24.neer24.Activities.UserAccountActivity" />
        </activity>
        <activity
            android:name=".Activities.CouponActivity"
            android:label="@string/title_activity_coupon"
            android:parentActivityName=".Activities.CheckoutActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.neer24.neer24.Activities.CheckoutActivity" />
        </activity>
        <activity
            android:name=".Activities.OTPActivity"
            android:label="OTP"
            android:parentActivityName=".Activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.neer24.neer24.Activities.RegisterActivity" />
        </activity>
        <activity
            android:name=".Activities.AddAddressActivity"
            android:label="Add New Address"
            android:parentActivityName=".Activities.CheckoutActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.neer24.neer24.Activities.CheckoutActivity" />
        </activity>
        <activity
            android:name=".Activities.PaymentModeActivity"
            android:label="Payment"
            android:parentActivityName=".Activities.CheckoutActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.neer24.neer24.Activities.CheckoutActivity" />
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_M7F2GDnryqa8hs" />

        <activity
            android:name=".Activities.HelpActivitySecondLevel"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.HelpActivityThirdLevel"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activities.ChangeLocationActivity"
            android:label="Change Location"
            android:parentActivityName=".Activities.HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.neer24.neer24.Activities.HomeScreenActivity" />
        </activity>

        <activity
            android:name=".Activities.BadWeatherActivity"
            android:label="Bad Weather"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>


    </application>

</manifest>